{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <!--div class="box has-background-warning-light"-->
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                    <!--input class="input is-large is-warning" type="email" name="email" placeholder="Your Email"
                            autofocus=""-->
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    <!--input class="input is-large is-warning" type="password" name="password"
                            placeholder="Your Password"-->
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">
                <!--button class="button is-warning is-large is-fullwidth"-->
                Login</button>
        </form>
        <!-- Forgot password link -->
        <div class="has-text-centered" style="margin-top: 10px;">
            <a href="{{ url_for('login.forgot_password') }}" class="button is-block is-warning is-large is-fullwidth">
                Forgot your password?
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}