{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  <!-- Rollercoaster Banner -->
  <div class="rollercoaster-banner">
    <div class="rollercoaster-content">
      <h1 class="rollercoaster-title">Risky Rollercoaster</h1>
      <p class="rollercoaster-description">Face your fear at full speed</p>
      <p class="rollercoaster-description">Book if you dare!</p>

        <!-- Ticket Button -->
      {% include "components/cta-button.html" with context %}
    </div>
  </div>

    <!-- Parks Carousel Section -->
  <section class="parks-section">
    <div class="parks-carousel-container">
      <!-- Seta Esquerda -->
      <button class="carousel-arrow carousel-arrow-left" aria-label="Previous parks">
        ←
      </button>
      
      <!-- Carousel -->
      <div class="parks-carousel">
        <div class="parks-track">
          {% for park in parks %}
            {% include "components/park-cards.html" %}
          {% endfor %}
        </div>
      </div>
      
      <!-- Seta Direita -->
      <button class="carousel-arrow carousel-arrow-right" aria-label="Next parks">
        →
      </button>
    </div>
  </section>


{% endblock %}
