<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Wednesday's Wicked Adventures{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {% block styles %}{% endblock %}
</head>
<body>
  {% include "components/header.html" %}
  
  <main class="main-content">
    {% block content %}{% endblock %}
  </main>
  
  {% include "components/footer.html" %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>
