name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f ${{ github.workspace }}/flask_app/src/requirements.txt ]; then pip install -r ${{ github.workspace }}/flask_app/src/requirements.txt; fi
          pip install pytest pytest-flask

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}/flask_app/src 
        run: |
          python -m pytest
