# ============================================================
# PIPELINE ORCHESTRATOR
# ============================================================
name: Pipeline Orchestrator

on:
  pull_request:
    branches: [main, UAT]
  push:
    branches: [UAT]
  workflow_dispatch:

jobs:
  # -----------------------------
  # Job 1: SAST Security Scan
  # -----------------------------
  security-sast:
    uses: ./.github/workflows/sast.yaml  
    with: 
      python-version: "3.11"
      working-directory: "flask_app/src"
      fail-on-issues: ${{ github.ref == 'refs/heads/main' }}
      config-path: "flask_app/src/.bandit.yml"


  # -----------------------------
  # Job 2: Build App
  # -----------------------------
  build-app:
    uses: ./.github/workflows/build-app.yaml
    needs: [security-sast]
    with:
      python-version: "3.11"
      working-directory: "flask_app/src"
